{{- $title := .Get "title" | default "Titel" -}}
{{- $open := .Get "open" | default "" -}}
{{- $id := .Get "id" | default "" -}}
{{- $isOpen := or (eq (lower $open) "true") (eq $open "1") -}}

<details class="jsg-accordion__item" data-accordion-item {{ if $isOpen }}open{{ end }} {{ if $id }}id="{{ $id }}"{{ end }}>
  <summary class="jsg-accordion__summary" data-accordion-summary>
    <span>{{ $title }}</span>
  </summary>
  <div class="jsg-accordion__panel" data-accordion-panel>
    {{ .Inner | markdownify }}
  </div>
</details>
