{{- $icon := .Get "icon" -}}
{{- $value := .Get "value" -}}
{{- $label := .Get "label" -}}
{{- $href := .Get "href" -}}

{{- $svg := resources.Get (printf "icons/%s.svg" $icon) -}}

{{- $url := "" -}}
{{- if $href -}}
{{- if or (hasPrefix $href "http://") (hasPrefix $href "https://") -}}
{{- $url = $href -}}
{{- else -}}
{{- $url = relref .Page $href -}}
{{- end -}}
{{- end -}}

{{- if $url -}}<a href="{{ $url }}" class="no-underline text-inherit">{{- end -}}
  <div class="jsg-stat" role="listitem">
    <span class="jsg-stat__icon" aria-hidden="true">
      {{- with $svg -}}{{ .Content | safeHTML }}{{- end -}}
    </span>
    <span class="jsg-stat__value">{{ $value }}</span>
    <span class="jsg-stat__label">{{ $label }}</span>
  </div>
  {{- if $url -}}
</a>{{- end -}}